@model TechnoEgypt.ViewModel.CourseCategoryIndex


<div class="container p-3 my-3 border">
	<h1> @ViewBag.PageName</h1>

	<div class="row">
		<div class="col-sm-12">
			<hr />
			<form asp-action="AddOrEdit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				@if (@ViewBag.IsEdit)
				{
					<input type="hidden" asp-for="Id" />
				}
				<div class="row">
				<div class="form-group col-6">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group col-6">
					<label asp-for="StageId" class="control-label"></label>
					@Html.DropDownList("StageId", Model.StageList as SelectList, "", new { @class = "form-control col-md-3", @id = "StageId" })
					<span asp-validation-for="StageId" class="text-danger"></span>
				</div>
                </div>
				<div class="form-group text-center" style="margin-top:10px;margin-bottom:10px">
					<input class="btn btn-primary" type="submit" value="Save" />
					<a class="btn btn-danger" asp-action="Index">Back</a>
				</div>
				@*<div class="form-group col-md-12">
				<label asp-for="StageId" class="control-label">Speciality</label>
				<select asp-for="StageId" class="form-control select2" asp-items="">
				<option>Select</option>
				</select>
				</div>*@
			</form>
		</div>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
    }